<div class="container">
  <div class="row">
    <div class='col-10 offset-2'>
      <div class="row">
        <h4 class="col-3 mt-5">商品新規登録</h4>
      </div>

      <% if @item.errors.any? %>
        <%= @item.errors.count %>件のエラーが発生しました
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @item, url: admin_items_path, id: 'new_item', class: 'new_item' do |f| %>

        <div class="row field d-grid text-center mt-4">
          <%= f.label :商品画像, class: "col-md-2" %>
          <%= f.file_field :image, accept: "image/*", class: "col-md-6" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :商品名, class: "col-md-2" %>
          <%= f.text_field :name, class: "col-md-6" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :商品説明, class: "col-md-2" %>
          <%= f.text_area :introduction, class: "col-md-6" %>
        </div>

        <div class="row field d-grid text-center mt-3">
          <%= f.label :税抜価格, class: "col-md-2" %>
          <%= f.number_field :price, class: "col-md-6" %>円
        </div>

        <div class="row form-group mt-4 ml-35">
          <%= f.submit '新規登録', class:"btn btn-success col-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>