<div class="container">
  <div class="row">
    <% if flash[:notice] %>
      <%= notice %>
    <% end %>
    <h4 class="col-2 mt-5 offset-2">商品詳細</h4>
  </div>
  <div class="row mt-4 offset-2">
      <table class="table table-hover table-inverse mt-4 ml-4 col-md-6">
        <div class="item_image mt-4">
          <% if @item.image.attached? %>
            <%= image_tag @item.get_image(200,200) %>
          <% else %>
            <%= image_tag 'default-image.jpg', size: "200x200" %>
          <% end %>
        </div>
        <div>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th>税込価格（税抜価格）</th>
            <td><%= "#{@item.with_tax_price}円" %>(<%= "#{@item.price}円" %>)</td>
          </tr>
        </div>
      </table>
  </div>
  <div class="row offset-6">
    <%= link_to "編集する", edit_admin_item_path(@item), class:"btn btn-success"%>
  </div>
</div>

